<div ng-controller="prismCtrl" class="view">
    <div class="view__header">
        <div class="view__header__title">
            <div class="view__header__title--primary">{{::model.uiStrings.titlePrimary}}</div>
            <div class="view__header__title--secondary">{{::model.uiStrings.titleSecondary}}</div>
        </div>
    </div>
    <div class="prism__add-panel">
        <div class="prism__add-panel__line">
            <div ng-show="showSharedSpaceSelect()">
                <label class="prism__required-field prism__add-panel__label">{{model.uiStrings.selectSSLabel}}</label>
                <select class="prism__add-panel__jobs-dropDown" ng-model="model.selectedSharedSpace"
                        ng-options="ss as ss.name for ss in model.sharedSpaceList"
                        ng-change="onSharedspaceChange(model.selectedSharedSpace)">
                </select>
            </div>
            <label class="prism__required-field prism__add-panel__label">{{model.uiStrings.selectWSLabel}}</label>
            <select class="prism__add-panel__jobs-dropDown" ng-model="model.selectedWorkspace"
                    ng-options="ws as ws.name for ws in model.workspaceList"
                    ng-change="onWorkspaceChange(model.selectedWorkspace)">
            </select>
        </div>
        <div class="prism__add-panel__line">
            <label class="prism__required-field prism__add-panel__label">{{model.uiStrings.selectPipelineLabel}}</label>
            <select class="prism__add-panel__jobs-dropDown" ng-model="model.selectedPipeline"
                    ng-options="pl as pl.pl_name for pl in model.pipeLineList"
                    ng-disabled="canSelectPipelines()"
                    ng-change="onPipelineChange(model.selectedPipeline)">
            </select>
        </div>
        <div class="prism__add-panel__line">
            <label class="prism__required-field prism__add-panel__label">{{model.uiStrings.selectJobLabel}}</label>
            <select class="prism__add-panel__jobs-dropDown" ng-model="model.selectedJob"
                    ng-options="job as job.name for job in model.jobList"
                    ng-disabled="canSelectJobs()"
                    ng-change="onJobChange(model.selectedJob)">
            </select>
        </div>
        <div class="prism__add-panel__line">
            <label class="prism__required-field prism__add-panel__label">{{model.uiStrings.nameLabel}}</label>
            <input class="prism__add-panel__name-input" type="text" ng-model="model.addJobName"
                   placeholder="{{model.uiStrings.nameInputHint}}"/>
        </div>
        <div class="prism__add-panel__line">
            <div class="prism__add-panel__radio-container">
                <div class="prism__add-panel__radio">
                    <label class="prism__add-panel__radio-label">
                        <input class="prism__add-panel_radio-button" name="logType" type="radio" value="selenium"
                               ng-model="model.logType"/>
                        Selenium</label>
                </div>
                <div class="prism__add-panel__radio">
                    <label class="prism__add-panel__radio-label">
                        <input class="prism__add-panel_radio-button" name="logType" type="radio" value="leanFT"
                               ng-model="model.logType"/>
                        Lean FT</label>
                </div>
                <div class="prism__add-panel__radio">
                    <label class="prism__add-panel__radio-label">
                        <input class="prism__add-panel_radio-button" name="logType" type="radio" value="UFT"
                               ng-model="model.logType"/>
                        UFT</label>
                </div>
            </div>
            <button class="prism__add-panel__add-button" ng-class="{'disabled': !canAdd()}" ng-click="onAddClick()"
                    ng-include="'./img/job-add.svg'"></button>
        </div>
    </div>
    <div class="view__content">
        <div class="view__content__scroll-container">
            <div ng-repeat="job in model.uiJobs track by $index">
                <div class="prism__job-line">
                    <input class="prism__job-line__active" type="checkbox" ng-model="job.active"
                           title="{{model.uiStrings.activateCheckboxTooltip}}"/>
                    <div class="prism__job-line__name" title="{{job.name}}">
                        {{job.alias}}
                    </div>
                    <button class="prism__job-line__remove-button" ng-click="onRemoveClick($index)"
                            title="{{model.uiStrings.removeButtonTooltip}} {{job.name}}"
                            ng-include="'./img/job-delete.svg'">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="view__footer">
        <button ng-click="onShowClick()" ng-class="{disabled: !canShow()}">{{::model.uiStrings.showButtonText}}</button>
        <button ng-click="onHideClick()" class="margin-r--md" ng-class="{disabled: !canHide()}">
            {{::model.uiStrings.hideButtonText}}
        </button>
    </div>
</div>