<div ng-controller="prismCtrl" class="view">
    <div class="view__header">
        <div class="view__header__title">
            <div class="view__header__title--primary">{{::model.uiStrings.titlePrimary}}</div>
            <div class="view__header__title--secondary">{{::model.uiStrings.titleSecondary}}</div>
        </div>
    </div>
    <div class="prism__add-panel">
        <div class="prism__add-panel__line">
            <label class="prism__required-field prism__add-panel__label">{{model.uiStrings.nameLabel}}</label>
            <input class="prism__add-panel__name-input" type="text" ng-model="model.addJobName"
                   placeholder="{{model.uiStrings.nameInputHint}}"/>
        </div>
        <div class="prism__add-panel__line">
            <select class="prism__add-panel__jobs-dropDown" ng-model="selectedPipeline"
                    ng-change="onPipelineChange(selectedPipeline)"
                    ng-options="pl as pl.pl_name for pl in model.pipeLineList">
                <option value="">--Select Pipeline--</option>
            </select>
        </div>
        <div class="prism__add-panel__line">
            <select class="prism__add-panel__jobs-dropDown" ng-model="selectedJob" ng-change="onJobChange(selectedJob)"
                    ng-options="job as job for job in model.jobList">
                <option value="">--Select Job--</option>
            </select>
        </div>
        <div class="prism__add-panel__line">
            <div class="prism__add-panel__radio-container">
                <div class="prism__add-panel__radio">
                    <label class="prism__add-panel__radio-label">
                        <input class="prism__add-panel_radio-button" name="logType" type="radio" value="selenium"
                               ng-model="model.logType" checked="checked"/>
                        Selenium</label>
                </div>
                <div class="prism__add-panel__radio">
                    <label class="prism__add-panel__radio-label">
                        <input class="prism__add-panel_radio-button" name="logType" type="radio" value="leanFT"
                               ng-model="model.logType"/>
                        Lean FT</label>
                </div>
                <div class="prism__add-panel__radio">
                    <label class="prism__add-panel__radio-label">
                        <input class="prism__add-panel_radio-button" name="logType" type="radio" value="UFT"
                               ng-model="model.logType"/>
                        UFT</label>
                </div>
            </div>
            <button class="prism__add-panel__add-button" ng-class="{'disabled': !canAdd()}" ng-click="onAddClick()"
                    ng-include="'./img/job-add.svg'"></button>
        </div>
    </div>
    <div class="view__content">
        <div class="view__content__scroll-container">
            <div ng-repeat="jobsArrayItem in model.uiJobs track by $index">
                <div ng-repeat="singleJobItem in jobsArrayItem.jobs">
                    <div class="prism__job-line">
                        <input class="prism__job-line__active" type="checkbox" ng-model="singleJobItem.data.active"
                               title="{{model.uiStrings.activateCheckboxTooltip}}"/>
                        <div class="prism__job-line__name" title="{{jobsArrayItem.pipeline_name + '/' + singleJobItem.data.jobName}}">{{singleJobItem.data.alias}}</div>
                        <button ng-click="onRemoveClick(jobsArrayItem, $index)" class="prism__job-line__remove-button"
                                title="{{model.uiStrings.removeButtonTooltip}} {{singleJobItem.data.jobName}}"
                                ng-include="'./img/job-delete.svg'">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="view__footer">
        <button ng-click="onShowClick()" ng-class="{disabled: !canShow()}">{{::model.uiStrings.showButtonText}}</button>
        <button ng-click="onHideClick()" class="margin-r--md" ng-class="{disabled: !canHide()}">
            {{::model.uiStrings.hideButtonText}}
        </button>
    </div>
</div>