.prism__add-panel {
	margin-top: 10px;
	border-top: 1px solid #ddd;
	padding-top: 10px;
}

.prism__add-panel__line {
	display: flex;
	align-items: center;
	height: 25px;
	line-height: 25px;
}

.prism__add-panel__label {
	display: inline-block;
	flex: 0 0 auto;
	width: 50px;
	height: 21px;
	font-size: 14px;
	color: #666;
}

.prism__add-panel__input {
	flex: 1 1 auto;
	margin-left: 5px;
	height: 21px;
}

.prism__add-panel__button {
	flex: 0 0 auto;
	margin-left: 5px;
	height: 21px;
	width: 21px;	
}

.prism__job-line {
	display: flex;
	align-items: center;
	height: 25px;
}

.prism__job-line__active {
	flex: 0 0 auto;
	display: inline-block;
    margin-top: 5px;
}

.prism__job-line__name {
	margin-left: 5px;
	flex: 1 1 auto;	
}

.prism__job-line__delete {
	flex: 0 0 auto;
	margin-left: 5px;
	height: 21px;
	width: 21px;	
}
