.prism__add-panel {
	margin-top: 10px;
	border-top: 1px solid #ddd;
	padding-top: 10px;
}

.prism__add-panel__line {
	display: flex;
	align-items: center;
	height: 25px;
	line-height: 25px;
}

.prism__add-panel__label {
	display: inline-block;
	flex: 0 0 auto;
	align-self: baseline;
	width: 40px;
	height: 21px;
	font-size: 14px;
	color: #666;
}

.prism__add-panel__name-input {
	flex: 0 0 auto;
	width: 160px;
	margin-left: 5px;
	height: 21px;	
	font-size: 12px;
}

.prism__add-panel__url-input {
	flex: 1 1 auto;
	margin-left: 5px;
	height: 21px;
	font-size: 12px;
}

.prism__add-panel__add-button {
	flex: 0 0 auto;
	margin-left: 5px;
	height: 21px;
	width: 34px;
	border: none;
	color: #090;
}

.prism__add-panel__add-button:hover,
.prism__add-panel__add-button:focus,
.prism__add-panel__add-button:active {
	border: none;
	background-color: #090;
	color: #fff;
}

.prism__add-panel__add-button.disabled {
	border: none;
	background-color: #fff;
	color: #ddd;
}

.prism__job-line {
	display: flex;
	align-items: center;
	height: 24px;
	line-height: 24px;
}

.prism__job-line__active {
	flex: 0 0 auto;
	display: inline-block;
    margin-top: 4px;
}

.prism__job-line__name {
	margin-left: 5px;
	flex: 1 1 auto;	
}

.prism__job-line__remove-button {
	flex: 0 0 auto;
	margin-left: 5px;
	height: 21px;
	width: 34px;
	border: none;
	color: #c00;
}

.prism__job-line__remove-button:focus {
	border: none;
	color: #900;		
}

.prism__job-line__remove-button:hover,
.prism__job-line__remove-button:active {
	border: none;
	background-color: #c00;
	color: #fff;
}

.prism__logo-panel {
	height: 100%;
	text-align: center;
}

.prism-logo {
	height: 190px;
}