* {
    box-sizing: border-box;
}

html {
    font-family: arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #fff;
    color: #000;
    width: 400px;
    height: 400px;
}

.height--100 {
	height: 100%;
}

.flex {
	display: flex;
}

.flex-direction--column {
	flex-direction: column;
}

.flex--0 {
	flex: 0 0 auto;
}

.flex--1 {
	flex: 1 1 auto;
}

.relative {
	position: relative;
}

.absolute-stretch {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.margin--sm {
	margin: 5px;
}

.margin-t--md {
	margin-top: 10px;	
}

.margin-r--md {
	margin-right: 10px;	
}

.margin-b--md {
	margin-bottom: 10px;	
}

.margin-l--md {
	margin-left: 10px;	
}

.margin-v--md {
	margin-top: 10px;
	margin-bottom: 10px;
}

.padding--sm {
	padding: 5px;
}

.padding-t--md {
	padding-top: 10px;
}

.padding-r--md {
	padding-right: 10px;
}

.padding-b--md {
	padding-bottom: 10px;
}

.padding-l--md {
	padding-left: 10px;
}

.border-r {
	border-right: 1px solid #ccc;
}

.header {
	background-color: #444;	
	height: 30px;
	line-height: 30px;	
}

.header__image {
	margin: 5px;
	width: 20px;
	height: 20px;
}

.header__title {
	color: #fff;
	font-size: 16px;	
}

.tabs__item {
	border-left: 6px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
	color: #aaa;
	cursor: pointer;
}

.tabs__item.active {
	border-left: 6px solid #444;
	color: #000;
	cursor: default;	
}