<div ng-controller="artemisCtrl" class="view">
	<div class="view__header">
		<div class="view__header__title">
			<div class="view__header__title--primary">{{::model.uiStrings.titlePrimary}}</div>
			<div class="view__header__title--secondary">{{::model.uiStrings.titleSecondary}}</div>
		</div>
	</div>
	<div class="view__content">
		<div class="view__content__scroll-container">
			<div ng-show="!model.debugMode" class="artemis__logo-panel">
				<div ng-click="showDebugUI()">&nbsp;</div>
				<img src="artemis/artemis-logo.png" class="artemis-logo"/>
			</div>
			<div ng-show="model.debugMode" class="height--100">
				<textarea ng-model="model.messageJson" class="height--100 width--100"></textarea>
			</div>
		</div>
	</div>
	<div class="view__footer">
		<button ng-click="inject()" title="{{::model.uiStrings.injectButtonTooltip}}">{{::model.uiStrings.injectButtonText}}</button>
		<button ng-show="model.debugMode" ng-click="execute()" title="{{::model.uiStrings.executeButtonTooltip}}">{{::model.uiStrings.executeButtonText}}</button>
	</div>
</div>